form{
    
    width: 100%;
    max-width: 600px;
    margin: auto;
}


.linea {
    border: none; /* Elimina el borde predeterminado */
    border-top: 5px solid rgb(15, 35, 15); /* Agrega una línea verde de grosor 5px */
    margin: 10px auto; /* Margen en la parte superior e inferior, centrado horizontalmente */
    width: 70px; /* Ancho de la línea */
}




.selected-option:active {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambia los valores según tus preferencias */
    }


    .card {
        margin-bottom: 20px; /* Espacio entre las tarjetas */
      }